{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="{{post.author.link}}">{{post.author.name}}</a></p>
        {{ post.content | shortcodes }}
    </div>
{% endblock %}